rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // === REGLAS DE USUARIOS ===
    match /usuarios/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // === REGLAS DE CAFETERÍA ===
    match /productos_cafeteria/{productoId} {
      // Cualquiera autenticado puede leer el menú de la cafetería
      allow read: if request.auth != null;
      // Solo admins pueden editarlo (Validando el Custom Claim instanciado por el Backend)
      allow write: if request.auth != null && request.auth.token.admin == true; 
    }

    match /vouchers/{voucherId} {
      // Un alumno solo puede ver sus propios pedidos
      allow read: if request.auth != null && resource.data.alumnoId == request.auth.uid;
      // Nadie escribe directamente; se usa el Trigger HTTPS callable en Backend
      allow write: if false; 
    }

    // === REGLAS DE CONVERSACIONES ===
    match /conversaciones/{conversacionId} {
      // Solo pueden leer/escribir si están en el array de participantes
      allow read, write: if request.auth != null && request.auth.uid in resource.data.participantesIds;
    }
  }
}
